body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: block;
    width: 450px;
    margin: 30px auto;
    padding: 1em;
    background: white;
    border: 2px solid navy;
}

h1 {
    margin-top: 0;
    color: navy;
}

label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}

#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}

#compound {
    margin: 20px 0;
}

#compound input[type="checkbox"] {
    margin: 0 10px 0 0;
    width: auto;
}

#buttons input {
    float: left;
    margin-bottom: .5em;
}

br {
    clear: left;
}

.error {
    color: red;
    font-weight: bold;
}

.compound_rate {
    color: royalblue;
    margin: 5px 0;
}